/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    margin: auto;
    width: 80%;
}

.product {
    display: inline-block;
    width: calc(100% / 3);
    padding: 3px;
    position: relative;
}

.product-img {
    width: 100%;
}

.product-img-under {
    position: absolute;
    display: none;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.red-txt {
    color: red;
}

.line-through {
   text-decoration: line-through; 
}

.txt-box {
    padding-top: 10px;
}

.heart {
    position: absolute;
    top: 15px;
    right: 0px;
    background-color: white;
    padding: 1px 7px 5px;
}

.product:hover .product-img-under {
    display: block;
}